@charset "utf-8";
.top{
    color:white;
    height:50px;
    display: flex;
    align-items: center;
    
}
.navbar .navbar-nav .nav-item{
    padding:5px 15px;
    
}
.navbar .navbar-nav .nav-item:hover{
    color:#056CB6;
    background-color:#FFC113;
    border-radius: 15px;
    
}
main{
    min-height: 500px;
}
footer{
    min-height: 200px;
}
.dangky{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.underline{
    padding:9px 0px;
    border-bottom: 2px solid #FFC113;
}

footer .navbar-nav .nav-item .nav-link:hover{
    color:#FFC113;
}
footer button{
    width:60%;
}
.img-fluid{
    width:100%;
    height:auto;
}
#slider img{
    width:100%;
    height:auto;
}
#service a{
    text-decoration: none;
    color:#056CB6;
    
}
#service a:hover{
    color:#FFC113;
    
}
#service h4{
    font-size: 21.5px;
}
.dichvu{
    min-height: 100%;
}
#why{
    width:100%;
    min-height:400px;
    background-image: url("../images/why.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

}
#why h5{
    text-decoration: none;
    font-size: 18px;
}
.client{
    width:100%;
    position:relative;
    
}
.truoc{
    position:absolute;
    left:0;
    top:0;
    padding:8px;
    background-color: rgba(255,255,255,0.70)
}
.sau{
    position:absolute;
    left:50%;
    top:0;
    padding:8px;
    background-color: rgba(255,255,255,0.70)
}
    
#news a{
	text-decoration: none;
	color:#056CB6
}
#news a:hover{
	color:#FFC113
}
.xem-them{
	height:100px
}